$primary-color: rgb(82, 31, 56);
$secondary-color: #eece1a;
$background-image: true;
$portfolio-bg-image: url(../images/portfolio-bg.jpg);
$portfolio-bg-opacity: 0.8;
@mixin fadein {
    transition: all 0.5s ease-out;
}

@mixin bgimage {
    @if $background-image {
        &#bg-image {
            background-image: $portfolio-bg-image;
            background-attachment: fixed;
            background-size: cover;
        }
        &:after {
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            width: 100%;
            height: 100%;
            z-index: -1;
            background: rgba($primary-color, $portfolio-bg-opacity);
        }
    }
}

@function changecolor($color) {
    @if (lightness($color) > 40) {
        @return #000;
    }
    @else {
        @return #fff;
    }
}