.aside-nav-btn {
  position: absolute;
  right: 35px;
  top: 35px;
  z-index: 2;
  cursor: pointer;
  @include fadein;
  .asidenav-icon {
    width: 35px;
    height: 3px;
    margin: 0px 0px 5px 0px;
    background: #fff;
    @include fadein;
  }
  &.close {
    transform: rotate(180deg);
    .asidenav-icon {
      &:nth-child(1) {
        transform: rotate(45deg) translate(5px, 5px);
      }
      &:nth-child(2) {
        opacity: 0;
      }
      &:nth-child(3) {
        transform: rotate(-45deg) translate(7px, -5px);
      }
    }
  }
}

.aside-menu {
  position: fixed;
  top: 0;
  width: 100%;
  opacity: 0.96;
  visibility: hidden;
  &.show {
    visibility: visible;
  }
  &-image,
  &-nav {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    float: left;
    width: 50%;
    height: 100vh;
    overflow: hidden;
    @include fadein;
  }
  &-nav {
    margin: 0;
    padding: 0;
    background: darken($primary-color, 5);
    transform: translate3d(0, -100%, 0);
    &.show {
      transform: translate3d(0, 0, 0);
    }
  }
  &-list {
    list-style: none;
  }
  &-image {
    background: $primary-color;
    transform: translate3d(0, 100%, 0);
    &.show {
      transform: translate3d(0, 0, 0);
    }
    .aside-round-image {
      width: 250px;
      height: 250px;
      background: url(../images/portimage.jpeg);
      border-radius: 50%;
      border: solid 3px $secondary-color;
      background-position: center;
      background-size: contain;
      z-index: 2;
    }
  }
  &-item {
    transform: translate3d(800px, 0, 0);
    @include fadein;
    &.show {
      transform: translate3d(0, 0, 0);
    }
    &.active > a {
      color: $secondary-color;
    }
  }
  &-link {
    position: relative;
    display: inline-block;
    font-size: 30px;
    text-decoration: none;
    padding: 1rem 0;
    font-weight: 300;
    text-transform: uppercase;
    @include fadein;
    &:hover {
      color: $secondary-color;
    }
  }
}

@for $x from 1 to 4 {
  .aside-menu-item:nth-child(#{$x}) {
    transition-delay: $x * 0.1s;
  }
}

//Media queries
@mixin screen-size-Sm {
  @media screen and (max-width: 500px) {
    @content;
  }
}

@mixin screen-size-Md {
  @media screen and (max-width: 768px) {
    @content;
  }
}

@mixin screen-size-Lg {
  @media screen and (min-width: 769px) and (max-width: 1170px) {
    @content;
  }
}

@mixin screen-size-Xl {
  @media screen and (min-width: 1170px) {
    @content;
  }
}
